
.shop_now {

    background-color: #B08EAD;
    color: white;
    transition: color 0.3s, border 0, 3;
    border: 1px solid #B08EAD;
    border-radius: 10px 10px 10px 10px;
}

.shop_now:hover {

    background-color: white;

}

.shop_now:hover {
    color: #B08EAD;
}

.shop_now:hover {
    border: 2px solid #c973c2;
}

.explore_now {
    background-color: white;
    color: #B08EAD;
    transition: color 0.3s, border 0, 3;
    border: 1px solid #B08EAD;
    border-radius: 10px 10px 10px 10px;
}

.explore_now:hover {
    background-color: #B08EAD;
}

.explore_now:hover {
    color: white;
}

.item {
    text-decoration: none;
    color: #4B3049;
}

.name_product:hover {
    color: #B08EAD;
}

.name_product {
    width: 350px;
}

#rotatedImage {
    width: 100%;
    transform: rotate(90deg);
}


.kinetic {
    position: relative;
    height: 20px;
    width: 20px;
    color: #fe76f3;
    margin-top: -20;
  }
  
  .kinetic::before,
  .kinetic::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-bottom-color: var(--accent-pink);
    animation: rotateA 2s ease-in-out infinite 0.5s,
      color-change 2s ease-in-out infinite 1s;
  }
  
  .kinetic::before {
    animation: rotateB 2s ease-in-out infinite,
      color-change 2s ease-in-out infinite;
  }
  
  @keyframes rotateA {
    0%,
    25% {
      transform: rotate(0deg);
    }
  
    50%,
    75% {
      transform: rotate(180deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes rotateB {
    0%,
    25% {
      transform: rotate(90deg);
    }
  
    50%,
    75% {
      transform: rotate(270deg);
    }
  
    100% {
      transform: rotate(450deg);
    }
  }
  
  @keyframes color-change {
    75% {
      border-bottom-color: var(--accent-white);
    }
  }
  