.menu_header:hover .product {
    display: block;
    
}
.menu_header:hover .product{
    
    background-color: #B08EAD;
    /* background: red; */
}
.menu_header:hover{
     color: #B08EAD;
      
}
.menu_header {
    cursor: pointer;
    text-decoration: none;
    color: black;
}



.product {
    display: none;
    position: absolute;
    text-decoration: none;
    list-style: none;
    font-size: 15px; 
    margin: 20px;
}

.product::before {
    content: "";
    position:absolute ;
    width: 100%;
    height: 20px; 
    top: -20px;
    left: 0;
}
.explore_now {
    cursor: pointer;
}
.logout {
    margin-left: -40px;
    display: flex;
    justify-content: flex-start;   
    width: 120px;
    line-height: 1px;
    margin-top: 30px;
    color: red; 
    font-weight: 550;
    display: none;
    z-index: 999;

}

.user:hover .logout{
    display: block;
}
.logout:hover{
    cursor: pointer;
}
.logout::before{
    content: "";
    background-color: #fff;
    position:absolute ;
    width: 100%;
    height: 40px; 
    top: 20px;
    left: 0; 
    text-align: right;
    opacity: 0.02;
}
 .user:hover{
    cursor: pointer;
 }
 .user:hover{
    color: #B08EAD;

 }
 /* .container {
    max-width: 150px; /* Điều chỉnh giá trị tùy theo nhu cầu của bạn */
    /* overflow: hidden;
    white-space: nowrap;
  } */
  
  /* Khi nội dung vượt quá chiều rộng của .container, hiển thị ... ở cuối */
  /* .container .text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  } */